<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Layout -->
<div th:fragment="release" th:remove="tag">

    <!-- Releases View mode -->
    <div x-show="selectedBook && drawerMode === 'releases'">
        <div class="flex justify-between mb-4">
            <h3 class="text-lg font-medium">Releases</h3>
            <button @click="openReleaseCreateForm()"
                    class="bg-green-500 text-white px-3 py-1 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 flex items-center text-sm">
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6v6m0 0v6m0-6h6m-6 0H6" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"></path>
                </svg>
                New Release
            </button>
        </div>

        <template x-if="!isReleaseFormOpen">
        <!-- Releases List -->
        <div class="space-y-4 h-full overflow-y-auto">
            <template :key="release.id" x-for="release in releases">
                <div class="bg-white p-4 rounded-lg shadow border border-gray-200">
                    <div class="flex justify-between items-start">
                        <div>
                            <div class="font-semibold flex items-center">
                                <img :src="getTargetIcon(release.name)" class="w-4 h-4 mr-2">
                                <span x-text="release.name"></span>
                            </div>
                            <div class="text-sm text-gray-600"
                                 x-text="'Release Date: ' + formatDate(release.nextRelease)"></div>
                            <div class="text-sm text-gray-600" x-text="'Chapters: ' + release.chaptersCount"></div>
                            <div class="text-sm text-gray-600" x-text="'Releases: ' + release.releasesCount"></div>
                            <div class="text-sm text-gray-600" x-text="'Days: ' + release.releasesDays"></div>
                            <div class="mt-1">
                                <button @click="toggleReleaseState(release)"
                                        class="text-sm font-medium px-2 py-1 rounded"
                                      :class="{ 'bg-green-100 text-green-800 hover:bg-green-200': release.enabled, 'bg-gray-400 text-white hover:bg-gray-300': !release.enabled }"
                                      x-text="release.enabled ? 'enabled' : 'disabled'">
                                    Enabled
                                </button>
                            </div>
                        </div>
                        <div class="flex">
                            <button @click="deleteRelease(release.id)" class="text-red-500 hover:text-red-700">
                                <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </template>
            <div class="text-center py-4 text-gray-500" x-show="releases.length === 0">
                No releases found for this book.
            </div>
        </div>
        </template>

        <template x-if="isReleaseFormOpen">
        <!-- Release Form -->
        <div class="bg-white p-4 rounded-lg shadow">
            <h3 class="text-lg font-medium mb-4"
                x-text="currentRelease.id ? 'Edit Release' : 'Create New Release'"></h3>

            <form @submit.prevent="generateSchedule(false)" class="space-y-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Target Platform</label>
                    <div class="mt-1 relative">
                        <select class="block w-full px-4 py-2 mt-1 text-base leading-tight text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                                required
                                x-model="currentSchedule.name"
                                @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                            <!--/* Note, that these names is hardcoded on backend side, do not delete/change them */-->
                            <option disabled value="">Select a platform</option>
                            <option value="Telegram">Telegram</option>
                            <option value="Website">Website</option>
                            <option value="App">App</option>
                            <option value="Discord">Discord</option>
                            <option value="Email">Email</option>
                        </select>
                    </div>
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Name of system for release.</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="startDate">Start Date</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="startDate" type="date"
                           x-model="currentSchedule.startDate"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Date of first release.</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="amountOfChapters">Amount of
                        Chapters</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="amountOfChapters" min="1"
                           required
                           type="number" x-model.number="currentSchedule.amountOfChapters">
                    <small class="mt-2 text-sm text-gray-300 opacity-75"><span
                            class="italic">Book's chapters count.</span> </small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="dayThreshold">Day Threshold</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="dayThreshold" type="number"
                           x-model.number="currentSchedule.dayThreshold"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Gap between releases in days.</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="startBulk">Start Bulk</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="startBulk" max="1" min="0" step="0.1"
                           type="number"
                           x-model.number="currentSchedule.startBulk"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">First release amount(<span
                            x-text="Math.round(currentSchedule.startBulk * (currentSchedule.amountOfChapters || 1))"></span>).</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="endBulk">End Bulk</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="endBulk" max="1" min="0" step="0.1"
                           type="number"
                           x-model.number="currentSchedule.endBulk"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Last release amount(<span
                            x-text="Math.round(currentSchedule.endBulk * (currentSchedule.amountOfChapters || 1))"></span>).</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="minChapters">Min Chapters</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="minChapters" type="number"
                           x-model.number="currentSchedule.minChapters"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Min amount of chapters for
                        release.</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="maxChapters">Max Chapters</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="maxChapters" type="number"
                           x-model.number="currentSchedule.maxChapters"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Max amount of chapters for
                        release.</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="peakWidth">Peak Width</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="peakWidth" max="1" min="0" step="0.1"
                           type="number"
                           x-model.number="currentSchedule.peakWidth"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Duration of 'wave/peak' period.</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="smoothFactor">Smooth Factor</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="smoothFactor" max="1" min="0"
                           step="0.1" type="number"
                           x-model.number="currentSchedule.smoothFactor"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Threshold for shuffling schedule
                        draft.</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="randomFactor">Random Factor</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="randomFactor" max="1" min="0"
                           step="0.1" type="number"
                           x-model.number="currentSchedule.randomFactor"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Threshold for shuffling schedule
                        draft.</small>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="periodCount">Period Count</label>
                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="periodCount" step="0.1" type="number"
                           x-model.number="currentSchedule.periodCount"
                           @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                    <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Amount of 'waves/peaks'.</small>
                </div>

                <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

                <template x-if="currentSchedule.name == 'Telegram'">
                    <div>
                        <label class="block text-sm font-medium text-gray-700" for="periodCount">Chat type</label>
                        <select class="block w-full px-4 py-2 mt-1 text-base leading-tight text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                                required
                                x-model="currentSchedule.metadata['chatType']"
                                @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                            <option disabled value="">Select a release type</option>
                            <option value="MAIN">Main</option>
                            <option value="TEST">Test</option>
                        </select>

                        <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Specify the chat with which you will interact.</small>
                    </div>
                </template>

                <template x-if="currentSchedule.name == 'Website'">
                    <div>
                        <label class="block text-sm font-medium text-gray-700" for="periodCount">Website Url</label>
                        <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2" id="websiteUrl" type="url"
                               x-model="currentSchedule.metadata['siteUrl']"
                               @input.debounce.300ms="backupValue('currentSchedule', resolveCurrentSchedule)">
                        <small class="mt-2 text-sm text-gray-300 opacity-75 italic">Address of Website.</small>
                    </div>
                </template>

                <div class="flex justify-end space-x-3 pt-5">
                    <button @click.prevent="isReleaseFormOpen = !isReleaseFormOpen" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50"
                            type="button">
                        Cancel
                    </button>
                    <button class="inline-flex justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700"
                            type="submit">
                        <span x-text="(previewReleases?.length > 0) ? 'Save preview' : 'Save'"></span>
                    </button>
                </div>
            </form>
        </div>
        </template>
    </div>

</div>
</body>
</html>