<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Layout -->
<div th:fragment="drawer" th:remove="tag">

    <!-- Detail Drawer -->
    <div
            @click.away="drawerOpen = false"
            class="fixed inset-y-0 right-0 max-w-xl w-full bg-white shadow-xl overflow-y-auto"
            style="z-index: 20;"
            x-show="drawerOpen"
            x-transition:enter="transform transition ease-in-out duration-100"
            x-transition:enter-end="translate-x-0"
            x-transition:enter-start="translate-x-full"
            x-transition:leave="transform transition ease-in-out duration-100"
            x-transition:leave-end="translate-x-full"
            x-transition:leave-start="translate-x-0"
    >
        <div class="p-6">
            <div class="flex items-center justify-between mb-6">
                <h2 class="text-2xl font-bold" x-text="selectedBook?.ruName || 'Create New Book'"></h2>
                <div class="flex items-center">
                    <button @click="editSelectedBook()" class="text-gray-500 hover:text-gray-700 mr-2"
                            x-show="drawerMode == 'view' && selectedBook">
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"/>
                        </svg>
                    </button>
                    <button @click="drawerOpen = false" class="text-gray-500 hover:text-gray-700">
                        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"/>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- View Detail Mode -->
            <div th:replace="~{drawer-view::view}">
                <p>
                    Here placed content of views/drawer-view.html page, tag `th:fragment="view"`
                </p>
            </div>

            <!-- Create/Edit Mode -->
            <div th:replace="~{drawer-edit::edit}">
                <p>
                    Here placed content of views/drawer-edit.html page, tag `th:fragment="edit"`
                </p>
            </div>

            <!-- Releases mode -->
            <div th:replace="~{drawer-release::release}">
                <p>
                    Here placed content of views/drawer-release.html page, tag `th:fragment="release"`
                </p>
            </div>
        </div>
    </div>

    <!-- Overlay when drawer is open -->
    <div
            @click="drawerOpen = false"
            class="fixed inset-0 bg-black bg-opacity-50"
            style="z-index: 10;"
            x-show="drawerOpen"
    ></div>

</div>
</body>
</html>