<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Layout -->
<div th:fragment="title-selector" th:remove="tag">

    <div class="w-full">
        <div @click.outside="comboboxOpen = false" class="relative">
            <input
                    @change="setNewUniqueId"
                    @focus="comboboxOpen = true"
                    @keydown.arrow-down.prevent="highlightComboboxNext()"
                    @keydown.arrow-up.prevent="highlightComboboxPrev()"
                    @keydown.enter.prevent="selectComboboxHighlighted()"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Search or type a book title..."
                    type="text"
                    x-model="comboboxInputValue">
            <!--@input.debounce.300ms="filterComboboxOptions()"-->
            <button @click="comboboxOpen = !comboboxOpen"
                    class="absolute inset-y-0 right-0 flex items-center pr-2"
                    type="button">
                <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                </svg>
            </button>

            <ul
                    class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none"
                    x-show="comboboxOpen"
                    x-transition:enter="transition ease-out duration-100"
                    x-transition:enter-end="opacity-100 transform scale-100"
                    x-transition:enter-start="opacity-0 transform scale-95"
                    x-transition:leave="transition ease-in duration-75"
                    x-transition:leave-end="opacity-0 transform scale-95"
                    x-transition:leave-start="opacity-100 transform scale-100">
                <template :key="index" x-for="(option, index) in filteredComboboxOptions">
                    <li
                            :class="{
                              'bg-blue-100': highlightedComboboxIndex === index,
                              'text-white bg-blue-500': highlightedComboboxIndex === index && selectedComboboxOption === option
                            }"
                            @click="selectComboboxOption(option)"
                            class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9 hover:bg-gray-100">
                        <span>
                            <span x-text="option.title"></span>
                            <small class="text-xs text-gray-300" x-text="`Chapters (${option.chaptersCount})`"></small>
                        </span>
                        <span
                                class="absolute inset-y-0 right-0 flex items-center pr-4 text-blue-600"
                                x-show="selectedComboboxOption === option">
                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                                <path clip-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      fill-rule="evenodd"></path>
                            </svg>
                        </span>
                    </li>
                </template>
                <li class="text-gray-500 px-3 py-2" x-show="filteredComboboxOptions.length === 0">No results found</li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>